<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/searcher/src/main/java/ie/duffyc8/searcher/CranfieldParser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ie.duffyc8.searcher.CranfieldParser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\Callum\Desktop\repo\informationRetrieval\searcher\cranfield\ C:\Users\Callum\Desktop\repo\informationRetrieval\searcher\corpus\ C:\Users\Callum\Desktop\repo\informationRetrieval\searcher\query\"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="searcher"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
